<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Employee Enrollment</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/js/DevExtremeBundle")
    @Scripts.Render("~/Scripts/jquery-3.4.1.js")
    @Styles.Render("~/Content/css/DevExtremeBundle")
    @Scripts.Render("~/Scripts/Demo.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    @*@Styles.Render("~/Content/DragAndDrop.css")*@

    @Html.DevExpress().GetStyleSheets(
    //new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
    new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker })

    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapser" aria-controls="navbarCollapser" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapser">
            <img src="~/Content/Images/gillette_logo_4c.jpg" height="60" width="125" class="navbar-brand" />
            <form class="navbar-nav mr-auto mt-2 mt-lg-0">
                @*<li></li>*@
                <button class="btn btn-outline-secondary">@Html.ActionLink("Home", "Create", "UserLogins", new { area = "" }, new { @class = "btn" })</button>
                <button class="btn btn-outline-secondary">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "btn" })</button>
                <button class="btn btn-outline-secondary">@Html.ActionLink("Admin", "Create", "UserLogins", new { area = "" }, new { @class = "moveAdmin btn" })</button>
            </form>
        </div>
    </nav>
    <div class="container body-content table-center">
        @RenderBody()
        <hr />
        <footer style="display: none;">
            <p>&copy; @DateTime.Now.Year - Company</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
