@model BasicMVC.Models.UserChangeLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserChangeLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullNameOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullNameNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1Old)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1Old)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1New)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1New)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2Old)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2Old)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2New)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2New)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketsOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketsOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketsNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTicketsOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTicketsOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTicketsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTicketsNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestTicketsOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestTicketsOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestTicketsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestTicketsNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDateOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDateOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDateNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDateNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetireeOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetireeOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetireeNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetireeNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequireTransportationOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequireTransportationOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequireTransportationNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequireTransportationNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddWho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddWho)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
